<dl class="dl-horizontal">
  <dt>Subject</dt>
  <dd>{{model.mail_data.subject}}</dd>
  <dt>Received</dt>
  <dd>{{model.updated_at}}</dd>
</dl>

<div class="mail-content">
  {{model.mail_data.body}}
</div>
