{{#if errorMessage}}
  <div class="alert alert-danger">
    <p>
      <strong>Login failed:</strong> <code>{{errorMessage}}</code>
    </p>
  </div>
{{/if}}

<form {{action 'authenticate' on='submit'}}>
  <label for="identification">Login</label>
  {{input id='identification' valueBinding='identification' placeholder='Enter Login'}}
  <label for="password">Password</label>
  {{input id='password' type='password' valueBinding='password' placeholder='Enter Password'}}
  <button id="submit" type="submit">Login</button>
</form>
